//output: index.html

head
  title Clockwork - A BBCode Editor
  link(rel="stylesheet", href="style.css")

body
  .wrapper
    //.popup
      .title
        h3 Popup title.
        span X
      .content
        form
          input(type="submit")

    .toolbar
    textarea#text-field

  script(src="script.js", type="text/javascript")
